[Unit]
Description=Kernel CI Backend Celery for {{ kci_app_name }}
Requires={{ redis_service_name }}.service
Wants=kernelci-{{ kci_app_name }}-celery-beat.service
Before=kernelci-{{ kci_app_name }}-celery-beat.service

[Service]
Type=simple
User={{ app_user }}
Group={{ app_user }}
ProtectSystem=full
ProtectHome=true
NoNewPrivileges=true
PrivateTmp=true
SyslogIdentifier=kernelci-celery
LimitNOFILE=65536
RestartSec=5
Restart=always
RuntimeDirectory=celery
RuntimeDirectoryMode=755
PIDFile=/tmp/kernelci-celery.pid
WorkingDirectory={{ install_base }}/{{ hostname }}/app
{% if role == "production" %}
ExecStart={{ install_base }}/.venv/{{ hostname }}/bin/python -OO -R \
    {{ install_base }}/.venv/{{ hostname }}/bin/celery worker \
    -Ofair --without-gossip --autoscale=24,6 --loglevel=INFO \
    --app=taskqueue --pidfile=/tmp/kernelci-{{ kci_app_name }}-celery.pid
{% else %}
ExecStart={{ install_base }}/.venv/{{ hostname }}/bin/python -OO -R \
    {{ install_base }}/.venv/{{ hostname }}/bin/celery worker \
    -Ofair --without-gossip --autoscale=10,2 --loglevel=INFO \
    --app=taskqueue --pidfile=/tmp/kernelci-{{ kci_app_name }}-celery.pid
{% endif %}

[Install]
WantedBy=multi-user.target
